# Ignore everything
*

# But descend into folders
!*/

# Files to include
!.travis.yml
!*.yaml
!.gitignore
!*.md

# yaml to explicitly ignore
secrets.yaml
known_devices.yaml
google_calendars.yaml

# Ignore folders
.storage
.cloud
.google.token
custom_components

# Folders to include
#!/tensorflow/**
!/www/**
front_porch.jpg
front_door.jpg
/www/facebox
