---
name: Home Assistant CI

on: [push]

jobs:
  
  yamllint:
    name: Yaml Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out configuration from Github
        uses: actions/checkout@v6
      - name: Run YAMLlint
        uses: frenck/action-yamllint@v1.5.0

  remarklint:
    name: Remark Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out configuration from Github
        uses: actions/checkout@v6
      - name: Run Remark Lint
        uses: "docker://pipelinecomponents/remark-lint:latest"
        continue-on-error: true
        with:
          args: "remark --no-stdout --color --frail --use preset-lint-recommended ."

  hasscheck:
    name: Home Assistant Configuration Check
    runs-on: ubuntu-latest
    steps:
      - name: Check out configuration from Github
        uses: actions/checkout@v6
      - name: Create empty custom components folder
        run: |
          if [ -d "custom_components" ]; then rm -rf custom_components; fi
          mkdir -p ./custom_components
      - name: Clone custom component frigate
        run: |
          git clone https://github.com/blakeblackshear/frigate-hass-integration.git frigate
          mv -v ./frigate/custom_components/* ./custom_components/
          rm -rf ./frigate
      - name: Clone custom component midea_ac_lan
        run: |
          git clone https://github.com/wuwentao/midea_ac_lan.git midea_ac_lan
          mv -v ./midea_ac_lan/custom_components/* ./custom_components/
          rm -rf ./midea_ac_lan
      - name: Run Home Asisstant Configuration Check
        uses: frenck/action-home-assistant@v1.4.1
        with:
          secrets: fake_secrets.yaml
          version: stable